.container {
    width: 100%;
}

.row,
.display,
.input {
    /* border: 1px solid lightgray; */
    margin: 5px;
    padding: 5px;
}

.input {
    font-weight: bold;
}

.btn {
    margin: 3px;
}

.pics {

    width: 300px;
    height: auto;
    margin: 3px;

}

.imageDiv {
    float: left;
    margin: 3px;
    padding: 5px;
    /* background-color: lightgrey; */
}